server:
  port: 9300

spring:
  datasource:
    url: jdbc:mysql://111.229.109.185:3306/east_sea_food?useSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&rewriteBatchedStatements=true
    username: remote
    password: remote123456